.env
.venv/
__pycache__/
*.py[cod]
.vscode/
tem.txt
PyInstaller.txt
build/
dist/
AISmallTavern.spec
user_data/config.json
user_data/sessions/*
!user_data/sessions/.gitkeep
user_data/characters/*
!user_data/characters/.gitkeep
granite-embedding-r2/